{{ define "EventsubFields" }}
    {{ range .Fields }}{{ .FieldName }} {{ .InnerType }} `json:"{{ .Name }}"` // {{ .Description }}
    {{ end -}}
{{ end }}
package eventsub

{{ range $key, $value := . }}
type {{ $key }} struct {
    {{- template "EventsubFields" $value -}}
}
{{ end }}
