{{ define "EventsubFields" }}
    {{ range .Fields }}{{ .FieldName }} {{ if or (eq .Type "Message") (eq .Type "Emotes") (eq .Type "TopPredictors")}}[]{{ .Type }}{{ else }}{{ .Type }}{{ end }} `json:"{{ .Name }}"` // {{ .Description }}
    {{ end -}}
{{ end }}
package eventsub

{{ range $key, $value := . }}
type {{ $key }} struct {
    {{- template "EventsubFields" $value -}}
}
{{ end }}
